html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#controls {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#imageInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


canvas {
  border: 5px double #333;
}
